.top {
  background-image: url("../images/cover.svg");
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    nav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 30px;
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
    
  }
}
