* {
  list-style: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  background-color: rgb(35, 92, 165);
  padding: 0 20%;
}
.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 85px;
}
.Sig.Up {
  border-radius: 5px;
  width: 60px;
  height: 35px;
  background-color: gold;
}
.Sig.Up:hover {
  color: goldenrod;
}
.Login {
  border-radius: 5px;
  width: 50px;
  height: 30px;
  background-color: rgb(63, 148, 206);
}
.Login:hover {
  color: darkgray;
  background-color: dodgerblue;
}
.logo {
  color: gold;
}

ul {
  color: gold;
  display: flex;
  column-gap: 3rem;
}
ul:hover {
  color: darkblue;
}
.fa-solid {
  height: 30px;
  width: 30px;
  display: none;
}
.instegram {
  display: flex;
  column-gap: 50px;
}
.ata{
    text-align: center;
}
.team-members {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
 
}
.andy{
   width: 30%;
}
@media only screen and (max-width: 768px) {
  .nav,
  .buttons {
    display: none;
  }
  .fa-solid {
    display: block;
  }
}
